<script type="text/javascript" src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'>
</script>



 <div class="d-flex flex-row m-5 footer">
  <div>
    <p class="col-8">     info@ami.org   |   866-393-4AMI
      All Content ©2020 Association of Medical Illustrators. All Rights Reserved.   |   Using Images from This Site   |   Policies  
     </p>  
  </div> 
   <div>
     ©  Shlomotion <%= new Date().getFullYear(); %>
   </div>

</div>
  </body>
</html>
