<script type="text/javascript" src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'>
</script>



 <div class="d-flex flex-row footer">
  <div>
    <p class="col-12">     info@ami.org   |   866-393-4AMI
      All Content ©2020 Association of Medical Illustrators. All Rights Reserved.   |   Using Images from This Site   |   Policies  |   ©  Shlomotion <%= new Date().getFullYear(); %> 
     </p>  
  </div> 
</div>
  </body>
</html>
