<script type="text/javascript" src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'>
</script>



 <div class="d-flex flex-row justify-content-center m-5 footer">
   <p>AMI Members Login   |   Admin Login   |   Site Map   |   info@ami.org   |   866-393-4AMI
    All Content ©2020 Association of Medical Illustrators. All Rights Reserved.   |   Using Images from This Site   |   Policies  
   </p>
  <p> ©  Shlomotion <%= Date() %></p>
</div>
  </body>
</html>
