<%- include('partials/header.ejs') %>

<h1 class="fullSpan">Appendix B – History of Salon Judging</h1>
<article class="appendixContainer">


    <p>
        1972 Awards were given in five categories: continuous tone, medical line, medical color, fine
    arts and Best of Show. Judging was by popular vote of Active members attending the annual
    meeting.
    
    1979 Kansas City, Mo: The Salon categories were expanded to include graphic design,
    projection media, 3D, exhibit design and medical books. This was the first year that the salon
    awards were selected by a panel of judges. Bill Westwood conceived the idea and Don
    Biggerstaff implemented the process. Karen Waldo, David Mascaro and Roger Postem, PhD
    designed the criteria by which the work would be judged. Six judges used a simple judging form
    and entries were judged as they were lined up on the floor around the room. A new set of
    student categories was set up because it was felt that the student work should not have to
    compete with the professional categories. Awards were given at the Awards Banquet.
    
    1980 Savannah, GA: The number of judges was increased to thirteen (six for professional,
    seven for student) to speed up the judging process. The 1979 judging forms were used and all
    judges judged every entry.
    
    1981 Toronto, Ontario: The editorial category was added this year. The nine member judging
    panel included two doctors. It was felt that inclusion of an anatomist and a surgeon would help
    eliminate medical errors. This worked fairly well, except that the two doctors did not always
    agree on the "correct" anatomy. The 1979 judging forms were used and all judges judged every
    entry before it was hung.
    
    1982 Anaheim, CA: The six member judging panel included two commercial illustrators and an
    art director from outside the profession. The group of six judged both the professional and
    student categories. The work was judged in elimination rounds. Round one: all entries were
    viewed in 35mm slide format. Round two: judges sat in semi-circle and viewed the remaining
    original entries one at a time as they were presented by a student. (The 1979 judging forms
    were used once again) Round three: final choices were made for first, second and honorable
    mention.
    This was the year that many first and second place ribbons were not awarded. The reason
    given is that the members of the judging panel from the commercial community felt that
    draftsmanship of entries in some categories did not meet some arbitrary imaginary standard.
    AMI member reaction was not positive, prompting the Board of Governors to require that future
    salon judges be Professional members of the AMI.
    
    1983 Chicago, IL: The cartooning category was added. The eight member panel was divided
    into a professional and student section. Judging proceeded exactly as in 1982, except that the
    judges chose not to utilize the judging forms, claiming that they were too time consuming. Note:
    This was the year that the Salon Committee and judges could not get access to the Salon room
    until the morning of the Salon opening. This only gave the judges nine hours to judge and hang
    the Salon. (This process usually took 24 hours.) AMI purchased Gaterfoam panels this year.
    
    1984 Atlanta, GA: Entry fees were instituted this year. The eleven member panel (six
    professional category, five student category) decided not to judge the artwork in slide form, but
    rather to use the original art for all phases of judging. Each piece of artwork was judged by all
    panelists using the judging form. The top four scores in each category were then reviewed for
    final placement ranking. The main drawback this year was that using the forms on every entry
    was so time consuming that the judges worked almost around the clock to complete their jobs
    before the Salon opening.
    
    1985 Cincinnati, OH: Two new categories were added this year, computer generated art and
    medical/legal art. The thirteen member panel used the judging forms to score the artwork in the
    first several categories, then discarded the forms part way through the process as time became
    short. At this time, scores were given to the remaining pieces of artwork in a subjective manner.
    Once the scores were given, the numbers were tabulated and the winners chosen strictly by the
    highest scores. Even the judges did not know who the winners were until the night of the Salon
    opening. Note: One other problem occurred this year. Three very outspoken members of the
    judging panel tended to intimidate other judges by voicing strong opinions on minor anatomy
    and stylistic problems. Because the judging occurred in one large group, some members felt
    compelled to go along with the group even though their own opinions differed on the work.
    
    1986 Norfolk, VA: This nine member panel (seven professional category, three student
    category) used new, improved judging forms this year. The new forms were divided by category,
    set up to be read more easily and the point spreads were expanded to help eliminate close point
    totals between entries. An anatomist was included on this year's panel. He was very helpful in
    the straight anatomy but eliminated many surgical anatomy pieces in which anatomy was
    represented in a non-traditional manner.
    At the Interim Board Meeting after this year's Annual Meeting, the Board members directed the
    Salon Chair, for all future meetings, to try to have AMI members serve as judges only twice
    within a ten year period and not to serve for two years in a row. The rationale for this was that
    there are between 600 and 700 members in the Association and some members were being
    asked to serve as judges year after year. The Board felt that "new blood" would help the
    fairness of the judging process.
    
    1987 Minneapolis, MN: Many changes were instituted this year in response to membership and
    judges complaints regarding the judging process. Under the new procedures, the time pressure
    on the judges was reduced by splitting the judges up into four mini-panels of three to four
    judges. Now, instead of all members of the larger judging panels judging every category of
    artwork in the Salon (the old time-consuming process), the new mini-panels are only
    responsible for judging three or four categories. Judges on the mini-panels are selected so that
    their expertise closely matches the categories which they are judging. This allows the judges to
    take more time evaluating each entry and helps insure that the judging process is consistent
    throughout.
    
    1989 Dallas, TX: The Salon was once again judged in mini-panels. The mini-panels were
    grouped in an attempt to equalize the number of entries among the judges. The judges were
    assigned to provide a range of experience in each mini-panel. The fee per entry was raised
    $5.00 and the total number of entries per member was limited to three.
    
    1991 New Orleans, LA: The Salon Committee was split into two committees in this year: The
    Salon Hanging Committee and the Salon Judging Committee. The Salon was once again
    judged in mini-panels, grouped to equalize the number of entries among the judges. The judges
    were assigned to provide a range of experience in each mini-panel. The fee per entry was
    $35.00 and the total number of entries per member was limited to three.
    
    1992 Chicago, IL: The Salon was once again judged in mini-panels, grouped to equalize the
    number of entries among the judges. The judges were assigned to provide a range of
    experience in each mini-panel. The fee per entry was $35.00 and the total number of entries per
    Professional member was limited to three, per Associate member was limited to two and per
    student member was limited to one.
    
    2007 Bozeman, MT: It was decided that the title “Award” of Merit should be used instead of
    “Certificate” of Merit to better reflect the quality of the works given this award and not minimize
    their value.
    
    2008 Indianapolis, IN: The division of the existing Animation and Interactive Media categories
    into smaller subcategories was implemented this year by the Professional Exhibits Committee.
    Blank judging forms were put on the AMI meeting website in order to assist entrants in the
    preparation of their salon labels as well as make the judging process a bit more transparent to
    the general membership.
    
    2009 Richmond, VA: This year a “prejudging” process was implemented for the animation and
    interactive categories in order to save some time on judging day as well as allow some people
    to still act as judges in spite of the fact that they could not be there in person. The judging chair
    was given the files to disperse to his committee.
    
    2014 Rochester, MN: This year, all categories were pre-judged. AMI Headquarters dispersed
    the digital files to the judges via Dropbox.
    </p>
    
</article>
<%- include('partials/footer.ejs') %>
