<%- include('partials/header.ejs') %>


<script>
    //active menu highlight
     $(document).ready(function(){
            $('a[href="/awardWinners"]').attr("style", "background-color:orange; color:#fff;");
         });
  </script>


<h1  class="fullSpan"> Award Winners</h1>


<div class="centerTextContainer p-3 ">
    <h1 class="text-left">Group 1</h1>
    <div class="awardBgRow bg">
        <h2 class="text-left pt-3 pl-4">G4:Interactive Media-Gaming</h2>
        <div class="row row-cols-2 d-flex pb-2 pt-3 pl-5 justify-content-around">
            <div class="">
               <form class="award" action="/" method="POST">
                   <label for="Award of Excellence" name="Award of Excellence" class="labelAward">
                   <span class="labelAward">Award of Excellence</span> 
                       <input type="text" class="inputBox">
                   </label>
               </form>
            </div>
            <div class="">
               <form class="award" action="/" method="POST">
                   <label for="G4:Interactive Media-Gaming" name="Award of merit" >
                     <span class="labelAward">Award of merit</span> 
                       <select class="pulldown" name="G4:Interactive Media-Gaming" id="">
                           <option value="Entry 1"> Entry 1</option>
                           <option value="Entry 2"> Entry 2</option>
                           <option value="Entry 3"> Entry 3</option>
                       </select>
                   </label>
                   <h2 class="addAwardMeritInput text-weight-bold pt-2"> <a href="#" class="orange"> + Additional Award of Merit </a></div>
               </form>
            </div>
        </div>        

   

         
</div>

<script src="/js/addAwardMeritField.js" type="text/javascript"></script>


    <%- include('partials/footer.ejs') %>