<%- include('partials/header.ejs') %>

<h1  class="fullSpan">Judging Groups</h1>
<article class="appendixContainer">

  <p></p>
    <svg xmlns="http://www.w3.org/2000/svg" width="1035" height="2083" viewBox="70 540 1035 1500">
      <g id="Rectangle_472" data-name="Rectangle 472" fill="#fff" stroke="#707070" stroke-width="1">

      </g>
     <text id="Group_3_B:_Still_Media_-_Editorial_C:_Still_Media_-_Advertising_and_Marketing_Promotional_D:_Still_Media_-_Medical_Legal_E:_Still_Media_-_Illustrated_Textbook_Traditionally_printed_book_F3:_Motion_Media_Animation_-_Advertising_and_Marketin" data-name="Group 3
    
    B: Still Media - Editorial      	
    C: Still Media - Advertising and Marketing/Promotional   	
    D: Still Media - Medical Legal  
    E: Still Media - Illustrated Textbook (Traditionally printed book)	
    F3: Motion Media/Animation - Advertising and Marketin" transform="translate(74 1110)" fill="#202124" font-size="18" font-family="Raleway-Bold, Raleway" font-weight="700"><tspan x="0" y="17">Group 3</tspan><tspan y="17" font-family="Raleway-Regular, Raleway" font-weight="400"></tspan><tspan font-family="Raleway-Regular, Raleway" font-weight="400"><tspan x="0" y="43"></tspan><tspan x="0" y="69" xml:space="preserve">B: Still Media - Editorial      	</tspan><tspan x="0" y="95" xml:space="preserve">C: Still Media - Advertising and Marketing/Promotional   	</tspan><tspan x="0" y="121" xml:space="preserve">D: Still Media - Medical Legal  </tspan><tspan x="0" y="147">E: Still Media - Illustrated Textbook (Traditionally printed book)	</tspan><tspan x="0" y="173" xml:space="preserve">F3: Motion Media/Animation - Advertising and Marketing/Promotional                  </tspan><tspan x="0" y="199">G-1. Interactive Media-Didactic/Instructional-Non-Commercial </tspan><tspan x="0" y="225">G-2. Interactive Media-Didactic/Instructional-Commercial</tspan><tspan x="0" y="251"></tspan></tspan><tspan fill="#ff8a00"><tspan x="0" y="277">Ian Suk,</tspan><tspan y="277" xml:space="preserve" fill="#202124"> isuk1@jhmi.edu  (group leader)</tspan><tspan x="0" y="303">Beth Halasz</tspan><tspan y="303" fill="#202124">, ehalasz@cia.edu, </tspan><tspan x="0" y="329">Leah Lebowicz, </tspan><tspan y="329" xml:space="preserve" fill="#202124"> laklein2@uic.edu</tspan></tspan><tspan x="0" y="355"></tspan><tspan x="0" y="381" xml:space="preserve">  </tspan></text>
      <text id="Group_2_A-2._Didactic_Instructional-Commercial_F-1._Animation-Didactic_Instructional-Non-Commercial_F-2._Animation-Didactic_Instructional-Commercial_F4:_Motion_Media_Animation_-_Medical_Legal_Student:_I-2._Dida" data-name="Group 2 
    
    A-2. Didactic/Instructional-Commercial                	
    F-1. Animation-Didactic/Instructional-Non-Commercial    	
    F-2. Animation-Didactic/Instructional-Commercial                    	
    F4: Motion Media/Animation - Medical Legal 
    Student: I-2. Dida" transform="translate(74 673)" fill="#202124" font-size="18" font-family="Raleway-Bold, Raleway" font-weight="700"><tspan x="0" y="17">Group 2 </tspan><tspan font-family="Raleway-Regular, Raleway" font-weight="400"><tspan x="0" y="43"></tspan><tspan x="0" y="69" xml:space="preserve">A-2. Didactic/Instructional-Commercial                	</tspan><tspan x="0" y="95" xml:space="preserve">F-1. Animation-Didactic/Instructional-Non-Commercial    	</tspan><tspan x="0" y="121" xml:space="preserve">F-2. Animation-Didactic/Instructional-Commercial                    	</tspan><tspan x="0" y="147">F4: Motion Media/Animation - Medical Legal </tspan><tspan x="0" y="173">Student: I-2. Didactic/Instructional-Surgical/Clinical Procedures </tspan><tspan x="0" y="199">Student: L. Animation</tspan><tspan x="0" y="225"></tspan></tspan><tspan fill="#ff8a00"><tspan x="0" y="251" xml:space="preserve"> Alison Von Dollen</tspan><tspan y="251" xml:space="preserve" fill="#202124"> abvond@gmail.com, (group leader), </tspan><tspan x="0" y="277">Meredith Hoffman, </tspan><tspan y="277" fill="#002632">melehoffman@gmail.com, </tspan><tspan x="0" y="303">Jeff Day, </tspan><tspan y="303" fill="#002632">gwillicker@gmail.com, </tspan></tspan><tspan x="0" y="329"></tspan><tspan x="0" y="355"></tspan></text>
      <text id="_Group_1_G4:_Interactive_Media_Gaming_H:_Dimensional_Media_Student:_I-3._Didactic_Instructional-Molecular_Biological_Life_Sciences_Student:_J._Editorial_Student:_K._Advertising_" data-name="
    Group 1
    
    G4: Interactive Media – Gaming                      	
    H: Dimensional Media          	
    Student: I-3. Didactic/Instructional-Molecular/Biological/Life Sciences                                 	
    Student: J. Editorial       	
    Student: K. Advertising " transform="translate(75 220)" fill="#202124" font-size="18" font-family="Raleway-Regular, Raleway"><tspan x="0" y="17"></tspan><tspan font-family="Raleway-Bold, Raleway" font-weight="700"><tspan x="0" y="43">Group 1</tspan><tspan x="0" y="69"></tspan></tspan><tspan font-family="Raleway-Medium, Raleway" font-weight="500"><tspan x="0" y="95" xml:space="preserve">G4: Interactive Media – Gaming                      	</tspan><tspan x="0" y="121" xml:space="preserve">H: Dimensional Media          	</tspan><tspan x="0" y="147" xml:space="preserve">Student: I-3. Didactic/Instructional-Molecular/Biological/Life Sciences                                 	</tspan><tspan x="0" y="173" xml:space="preserve">Student: J. Editorial       	</tspan><tspan x="0" y="199" xml:space="preserve">Student: K. Advertising and Marketing/Promotional          	</tspan><tspan x="0" y="225">Student: M: Interactive</tspan></tspan><tspan x="0" y="251" xml:space="preserve">  </tspan><tspan y="251" font-family="Raleway-Bold, Raleway" font-weight="700"> </tspan><tspan fill="#ff8a00" font-family="Raleway-Bold, Raleway" font-weight="700"><tspan x="0" y="277"></tspan><tspan x="0" y="303" xml:space="preserve"> Li Yao,</tspan><tspan y="303" xml:space="preserve" fill="#202124"> liyaovisuals@gmail.com, (group leader)</tspan><tspan x="0" y="329" xml:space="preserve"> Julia Lerner, </tspan><tspan y="329" fill="#202124">julialerner@mac.com</tspan></tspan><tspan font-family="Raleway-Bold, Raleway" font-weight="700"><tspan x="0" y="355"> </tspan><tspan y="355" fill="#ff8a00">Lisa Clark,</tspan><tspan y="355" xml:space="preserve"> lisa@clark-illustration.com </tspan></tspan></text>
      <text id="_Group_4_A-1._Didactic_Instructional-Non-Commercial_Student:_I-1._Didactic_Instructional-Anatomical_Pathological_Anthony_Baker_Anthony.Baker_osumc.edu_group_leader_Donna_DeSmet_desmet.donna_mayo.org_Peg_Gerrity_pg_peggerrity.com_" data-name="
    Group 4
    
    A-1. Didactic/Instructional-Non-Commercial     	
    Student: I-1. Didactic/Instructional-Anatomical/Pathological
    
    
     Anthony Baker,  Anthony.Baker@osumc.edu (group leader)
     Donna DeSmet, desmet.donna@mayo.org
     Peg Gerrity,  pg@peggerrity.com
    
    
    " transform="translate(74 1521)" fill="#202124" font-size="18" font-family="Raleway-Bold, Raleway" font-weight="700"><tspan x="0" y="17"></tspan><tspan x="0" y="43">Group 4</tspan><tspan x="0" y="69"></tspan><tspan font-family="Raleway-Regular, Raleway" font-weight="400"><tspan x="0" y="95" xml:space="preserve">A-1. Didactic/Instructional-Non-Commercial     	</tspan><tspan x="0" y="121">Student: I-1. Didactic/Instructional-Anatomical/Pathological</tspan></tspan><tspan x="0" y="147"></tspan><tspan x="0" y="173"></tspan><tspan x="0" y="199"> </tspan><tspan y="199" xml:space="preserve" fill="#ff8a00">Anthony Baker,  </tspan><tspan y="199">Anthony.Baker@osumc.edu (group leader)</tspan><tspan fill="#ff8a00"><tspan x="0" y="225" xml:space="preserve"> Donna DeSmet,</tspan><tspan y="225" xml:space="preserve" fill="#202124"> desmet.donna@mayo.org</tspan><tspan x="0" y="251" xml:space="preserve"> Peg Gerrity,</tspan><tspan y="251" xml:space="preserve" fill="#202124">  pg@peggerrity.com</tspan></tspan><tspan x="0" y="277"></tspan><tspan x="0" y="303"></tspan></text>
      <rect id="Rectangle_474" data-name="Rectangle 474" width="3" height="40" transform="translate(65 236)" fill="#ffa100"/>
    </svg>
    
    
  </p>
  
</article>
<
<%- include('partials/footer.ejs') %>
