<%- include('partials/header.ejs') %>



<div class="d-flex justify-content-center m-4 singlePage align-items-center">
    <div class="col-md-4 signInBox">
        <h1 class="formField">Login</h1>
        <form action="/login" method="POST" class="form-group">
            <input type="text" name="username" placeholder="Username" class="form-control-lg m-2">
            <input type="password" name="password" placeholder="Password" class="form-control-lg m-2">
            <button class="btn btn-primary btn-lg m-2 btn-block">Submit</button>
        </form>
        <a href="#"><p class="midgrey">Forgot password?</p></a>
        <a href="/register" %> ><p class="midgrey">Register</p></a>
    </div>
</div>

<%- include('partials/footer.ejs') %>
