<%- include('partials/header.ejs') %>

<style> body{background-color:#FFA100} </style>

      
<main class="d-flex justify-content-center m-4 singlePage align-items-center">
    <div class="col-md-8 signInBox">
        <h1 class="formField">Register as Judge</h1>
        <p class="midgrey _1rem">Please use alphanumerica with no spaces or the following characters $.%,|</p>
        <form action="/register" method="post" class="form-group ">
            <label for="">
                <input required type="text" name="username" placeholder="Username"  class="form-control-lg m-2" autofocus>
            </label>
           <label for="">
                <input required type="password" name="password" placeholder="Password" class="form-control-lg m-2">
           </label>
           <label for="">
                <input required type="text" name="firstName" placeholder="First Name" class="form-control-lg m-2">
            </label>
            <label for="">
                <input required type="text" name="lastName" placeholder="Last Name" class="form-control-lg m-2">
            </label>
            <label for="email">
                <input required type="email" name="email" placeholder="john@doe.com" class="form-control-lg m-2">
            </label>
            <label for="avatar">
                <input  type="text" name="avatar" placeholder="URL to your pic" class="form-control-lg m-2">
            </label>
            <label for="avatar">
                <input required type="text" name="adminCode" placeholder="Super User" class="form-control-lg m-2">
            </label>

            <button class="btn btn-lg btn-primary m-2 ">Register</button>
        </form>
        <p class="midgrey">Already registered? <a href="/register" %> >Login</p></a> </p> 
    </div>
</main>
        
    </div>
</div>









<%- include('partials/footer.ejs') %>

