<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>Document</title>
</head>
<body>


    <div id="awardMerit">
        <form class="award" action="/" method="POST">
            <label for="G4:Interactive Media-Gaming" name="Award of merit" >
              <span class="labelAward">Award of merit</span> 
                <select class="pulldown" name="G4:Interactive Media-Gaming" id="">
                    <option value="Entry 1"> Entry 1</option>
                    <option value="Entry 2"> Entry 2</option>
                    <option value="Entry 3"> Entry 3</option>
                </select>
            </label>
            <h2 class="addAwardMeritInput text-weight-bold pt-2"> <a href="#" class="orange"> + Additional Award of Merit </a></div>
        </form>
     </div>
 </div>        



    <script>
        

$('.addAwardMeritInput').on('click', function(){
    $('.addAwardMeritInput').append($('#awardMerit'))
})
    </script>
    
</body>
</html>